* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050505;
  background-image: url("/img/background.gif");
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  color: #fff;
  height: 300vh;
}

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
